# Notebook just for random testing

In [1]:
import numpy as np

In [9]:
r = np.random.uniform(0, 1, 10)
i = np.array(range(10))
s = 0.2

In [10]:
i[r < s]

array([1, 7, 9])

In [1]:
from pathlib import Path
import tensorflow as tf
import tensorflow_federated as tff
from tqdm.auto import tqdm

def load_svhn(svhn_dir: str):
    svhn_spec = {
        'image': tf.TensorSpec((32, 32, 3), dtype=tf.int64),
        'label': tf.TensorSpec((), dtype=tf.int64),
    }
    train_client_data =  tff.simulation.datasets.load_and_parse_sql_client_data(str(Path(svhn_dir) / 'train.sqlite'), element_spec=svhn_spec, split_name=None)
    test_client_data = tff.simulation.datasets.load_and_parse_sql_client_data(str(Path(svhn_dir) / 'test.sqlite'), element_spec=svhn_spec, split_name=None)
    return train_client_data, test_client_data

2024-09-04 14:06:28.539993: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-04 14:06:28.710694: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-04 14:06:28.710723: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-04 14:06:28.711667: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-04 14:06:28.802248: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-04 14:06:28.803515: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-04 14:06:30.096165: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/home/ole/miniconda3/envs/flidp-tf/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
train_ds, test_ds = load_svhn("../../dataset-cache/svhn")

In [14]:
len(train_ds.client_ids), len(test_ds.client_ids)

(725, 725)

In [11]:
train_examples = 0
for _ in tqdm(iter(train_ds.create_tf_dataset_from_all_clients())):
    train_examples += 1
train_examples

0it [00:00, ?it/s]

26032it [00:23, 1116.57it/s]

26032

In [12]:
test_examples = 0
for _ in tqdm(iter(test_ds.create_tf_dataset_from_all_clients())):
    test_examples += 1
test_examples

26032it [00:23, 1123.06it/s]

26032

In [11]:
import tensorflow as tf
import tensorflow_datasets as tfds

model = tf.keras.models.load_model("/home/ole/masterarbeit/flidp/results/try1/trained_model.keras")
model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3), 
    loss=tf.keras.losses.SparseCategoricalCrossentropy(), 
    metrics=['accuracy']
)

In [12]:
_, test_emnist = tff.simulation.datasets.emnist.load_data(only_digits=True)
test_emnist = test_emnist.create_tf_dataset_from_all_clients()

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 rescaling (Rescaling)       (None, 28, 28, 1)         0

 conv2d (Conv2D)             (None, 26, 26, 32)        320

 max_pooling2d (MaxPooling2  (None, 13, 13, 32)        0
 D)

 dropout (Dropout)           (None, 13, 13, 32)        0

 conv2d_1 (Conv2D)           (None, 11, 11, 32)        9248

 max_pooling2d_1 (MaxPoolin  (None, 5, 5, 32)          0
 g2D)

 dropout_1 (Dropout)         (None, 5, 5, 32)          0

 conv2d_2 (Conv2D)           (None, 3, 3, 32)          9248

 max_pooling2d_2 (MaxPoolin  (None, 1, 1, 32)          0
 g2D)

 dropout_2 (Dropout)         (None, 1, 1, 32)          0

 flatten (Flatten)           (None, 32)                0

 dense (Dense)               (None, 64)                2112

 dropout_3 (Dropout)         (None, 64)                0

 dense_1 (Dense)             (None, 10)                650

=================================================================
Total params: 21578 (84.29 KB)
Trainable params: 21578 (84.29 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
import pandas as pd

pd.read_pickle("/home/ole/masterarbeit/flidp/results/try1/history.pkl")

,round,round_time,sampled_clients,noise_multiplier,noise_multiplier_after_adaptive_clipping,update_clipping_norm,update_stddev,accuracy,loss
0,0,None,20,None,None,None,None,0.099799,2.305093
1,1,None,20,None,None,None,None,NaN,NaN
2,2,None,20,None,None,None,None,NaN,NaN
3,3,None,20,None,None,None,None,NaN,NaN
4,4,None,20,None,None,None,None,NaN,NaN
5,5,None,20,None,None,None,None,0.209958,2.295764
6,6,None,20,None,None,None,None,NaN,NaN
7,7,None,20,None,None,None,None,NaN,NaN
8,8,None,20,None,None,None,None,NaN,NaN
9,9,None,20,None,None,None,None,NaN,NaN
10,10,None,20,None,None,None,None,0.294597,2.275942
11,11,None,20,None,None,None,None,NaN,NaN
12,12,None,20,None,None,None,None,NaN,NaN
13,13,None,20,None,None,None,None,NaN,NaN
14,14,None,20,None,None,None,None,NaN,NaN
15,15,None,20,None,None,None,None,0.327121,2.236529
16,16,None,20,None,None,None,None,NaN,NaN
17,17,None,20,None,None,None,None,NaN,NaN
18,18,None,20,None,None,None,None,NaN,NaN
19,19,None,20,None,None,None,None,NaN,NaN
20,19,None,20,None,None,None,None,0.364983,2.149047

In [9]:
from pathlib import Path
import pandas as pd

results_dir = Path("/home/ole/masterarbeit/flidp/results/2024-09-06_15:07:09-all")
result_dfs = []
for p in results_dir.glob("*"):
    key = '_'.join(p.name.split("_")[2:])
    df = pd.read_pickle(p / "history.pkl")
    ds_name, privacy_level = key.split("_")[:2]
    is_iid = key.endswith("_iid")
    df["dataset"] = [ds_name] * len(df)
    df["privacy_level"] = [privacy_level] * len(df)
    df["is_iid"] = [is_iid] * len(df)
    result_dfs.append(df)
df = pd.concat(result_dfs)
df.head()

/tmp/ipykernel_1613952/1686260118.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(result_dfs)

,round,round_time,sampled_clients,noise_multiplier,noise_multiplier_after_adaptive_clipping,update_clipping_norm,update_stddev,accuracy,loss,dataset,privacy_level,is_iid
0,0,None,91,1.145352,1.152939,0.100000,0.115294,0.097962,2.30535,emnist,individual-relaxed,True
1,1,None,101,1.145352,1.152939,0.108496,0.125089,NaN,NaN,emnist,individual-relaxed,True
2,2,None,99,1.145352,1.152939,0.119309,0.137556,NaN,NaN,emnist,individual-relaxed,True
3,3,None,91,1.145352,1.152939,0.131856,0.152023,NaN,NaN,emnist,individual-relaxed,True
4,4,None,100,1.145352,1.152939,0.130686,0.150673,NaN,NaN,emnist,individual-relaxed,True

In [33]:
df[
    (df["dataset"] == "emnist") &
    (df["privacy_level"] == "strict") &
    df["is_iid"]
][["round", "accuracy", "noise_multiplier"]].dropna(subset=["accuracy"])

     round  accuracy  noise_multiplier
0        0  0.098011          1.570918
5        5  0.176773          1.570918
10      10  0.193329          1.570918
15      15  0.285609          1.570918
20      20  0.268368          1.570918
25      25  0.291071          1.570918
30      30  0.313651          1.570918
35      35  0.327072          1.570918
40      40  0.391850          1.570918
45      45  0.361628          1.570918
50      50  0.330256          1.570918
55      55  0.493241          1.570918
60      60  0.449280          1.570918
65      65  0.474726          1.570918
70      70  0.505241          1.570918
75      75  0.536834          1.570918
80      80  0.488930          1.570918
85      85  0.530687          1.570918
90      90  0.539626          1.570918
95      95  0.552532          1.570918
100    100  0.527062          1.570918